DATABASE_URL=
PORT=


# jwt_configuration
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=
BCRYPT_SALT_ROUNDS=10
JWT_RESET_PASSWORD_SECRET=
JWT_RESET_PASSWORD_EXPIRES_IN=


# cloudinatry_configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


